/****************************GENERAL************************************/

*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 56px;
}
/*.nav-center,*/
/*.center{*/
    /*width: 80%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*max-width: 1200px;*/
/*}*/

/*a{*/
    /*color: #191919;*/
    /*text-decoration: none;*/
/*}*/
/*ul{*/
    /*list-style: none;*/
/*}*/
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/****************************NAV BAR************************************/



nav {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 56px;
    background: #9e9e9e;
    text-align: center;
    color: #a3131f;
}
.nav1{
    
    position: relative;
    height: 70px;
    background-color: #fff;
}
nav li {
    display: inline-block;
    padding: 16px 10px;
}
.nav1 li {
    display: inline-block;
    padding: 32px 16px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}


.toggle-nav{
    display: none;
}

.nav-mobile style{
    display: block;
}

.nav1 ul li a,
.nav1 ul li a:after,
.nav1 ul li a:before {
  transition: all .4s;
}

.nav1 ul li a:hover {
  color: #363d78;
}

.stroke ul li a {
  position: relative;
}

.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #a3131f;
  height: 1px;
}

.stroke ul li a:hover:after {
  width: 100%;
}
.logo{
    width: 24%;
    float: left;
    padding-top: 4px;
}


/*********NAV BAR END**********/

/*********MAIN_HOME  **********/

.main_home{
    background-image: url(../imgs/bg/bg6.jpg);
    height: 72vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -88px;
}
.first_p {
    width: 75%;
    margin-top: 12%;
    font-size: 4.5rem;
    text-align: : left;
    font-weight: 600;
    color: #e5e5e5;
    padding-left: 24px;
}

.second_p{
    margin-top: 2%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #e5e5e5;
    width: 40%;
    text-align: center;
    padding-left: 16%;
}
span{
    color: #a3131f;
}


/*********MAIN_HOME END**********/
/*********EVENTS SECTION  **********/
.second_section{
    padding-top: 56px;
    padding-bottom: 56px;
}
.juniors{
    border-bottom: 1px solid #a3131f;
}
.third_p{
    padding-top: 2.4px;
    font-weight: 300;
    font-size: 0.9em;
}
.fourth_p{
    padding-top: 8px;
    font-weight: 300;
    font-size: 0.9em;
}
.small_header{
    border-bottom: 1px solid #9c1b20;
    width: 50px;
    padding-bottom: 8px;
    font-weight: 500;
}
.section_img{
    padding-top: 8px;
}
.button.secondary {
    background-color: #9c1b20;
    color: #fff;
}
.button.secondary:hover {
    background-color: #363d78;
    color: #fff;
}
.event_time{
    font-size: 12px;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
   }
.icon{
    padding: 0;
    margin-top: 8px;
}
.inner{
    padding-left: 24px;
}
.dates{
    font-size: 1.5em;
    text-align: center;
}
.num{
    color: #363d78;
}
.mnth{
    color: #9c1b20;
}
h5{
   margin-bottom: .45rem;
}
/*********EVENTS SECTION END**********/
/*********REGIONS SECTION **********/
h3{
    text-align: center;
        margin-bottom: 4%;
}
.region_p{
    text-align: center;
}
.regions_p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
}
.regions{
    padding-top: 56px;
    padding-bottom: 56px;
}
.upper_region{
    margin-top: 16px;
}



/*********REGIONS SECTION END**********/
/*********EAC SECTION **********/
.img_fullwidth{
    width: 10%;
}
.list{
    list-style: outside none none;
    margin-top: 13px;
    padding-left: 0;
}
h5{
    line-height: 1.42857143;
    color: #333333;
    font-size: 15px;
        font-weight: 600;
}
/*********EAC SECTION END**********/

/****************************MEDIA QUERIES************************************/

@media only screen and (max-width: 768px) {
    .nav li {
        font-size: 14px;
        float: left;
        padding-left: 0%;
        margin-left: 7%;
    }
}


@media only screen and (max-width: 640px){
    .toggle-nav{
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after{
        content: ' Menu';
    }

    .nav-mobile{
        display: none;
    }

    .style-mobile{
        background: #ffffff;
        top : 51px;
        position : absolute;
        width : 100%;
    }

    .style-mobile li{
        display: block;
        width: 100%;
    }

    .nav{
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px){
    .nav-mobile {
        display:block !important;
    }
}
/*********MEDIA QUERY END**********/
